body {
    overflow: hidden;
}

.nav {
    background: linear-gradient(145deg, #060606, #4f4f4f);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: 60px;
    display: flex;
    align-items: center;
    line-height: 30px;
    text-align: center;
}

.navbar-brand {
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: 32px;
    font-style: italic;
    color: #131313;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.7), 
                 0px -2px 2px rgba(255, 255, 255, 0.7),
                 2px 0px 2px rgba(255, 255, 255, 0.7),
                 -2px 0px 2px rgba(255, 255, 255, 0.7);
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.navbar-brand:hover {
    transform: translateY(-2px);
    color: #000000;
}

.navbar-expand-lg {
    justify-content: space-between;
}

.title {
    letter-spacing: 1px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #dcdcdc;
    margin-left: 20px;
    font-size: 24px;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link:active {
    transform: scale(0.9);
}

.info-textbox {
    display: none;
    margin: 5px;
    padding: 25px 15% 10px 15%;
    background-color: #d8d8d8;
    color: #000000;
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    height: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.show {
    display: block;
}

.problems-list {
    margin-top: 1px;
    background-color: black;
    height: calc(100vh - 59px);
    width: 245px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    direction: rtl;
    scrollbar-width: thin;
    scrollbar-color: #525252 transparent;
}

.problems-list > * {
    direction: ltr;
}

.problems-list::-webkit-scrollbar {
    width: 8px;
}

.problems-list::-webkit-scrollbar-track {
    background: transparent;
}

.problems-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.problems-list::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

.generate-button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 15px;
    margin-top: 25px;
    width: 190px;
    margin-left: 21px;
    letter-spacing: 2px;
}

.generate-button:hover {
    background-color: #252525;
}

.generate-button:active {
    transform: translateY(3px);
    background-color: #000000;
}

.refresh-icon {
    font-size: 16px;
    transition: transform 0.5s;
}

.generate-button:hover .refresh-icon {
    transform: rotate(360deg);
}

.entry {
    background-color: #161616;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-right: 13px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    font-style: bold;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s, transform 0.2s;
    height: 75px;
}

.entry:hover {
    background-color: #212121;
}

.entryToggle {
    background-color: #424242 !important;
}

.entry:active {
    background-color: #c8c8c8;
    transform: scale(0.9);
}

.entry h4 {
    margin: 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    color: #788878;
}

.entry-footer {
    justify-content: left;
    display: flex;
    height: 20px;
    color: #788878;
}

.upvote-button,
.downvote-button {
    background: none; 
    border: none;
    cursor: pointer; 
    font-size: 0.8rem;
    color: #4CAF50; 
    transition: transform 0.2s; 
    height: 20px;
    background: transparent;
    width: 20px;
    translate: -5px 3px;
}

.upvote-button:hover,
.downvote-button:hover {
    transform: scale(1.2);
}

.upvote-button:active,
.downvote-button:active {
    transform: scale(0.8);
    border: none;
}

.like-count {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    translate: -5px 3px;
    width: 20px;
    text-align: center;
}

.workspace {
    background-color: #dcdcdc;
    margin-left: 0px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 70%;
    height: calc(100vh - 59px);
    min-width: none;
}

#csv-container {
    margin-top: 10px;
    margin-left: 8px;
    padding: 0px 20px;
    height: 45vh;
    overflow-x: auto;
    overflow-y: scroll;
    z-index: 100;
}

.csv-table {
    width: 100%;
    border-collapse: collapse;
}

.csv-table th,
.csv-table td {
    border: 1px solid #b4b4b4;
    padding: 8px;
    text-align: left;
}

.csv-table th {
    background-color: #f2f2f2;
    color: #333;
    position: sticky;
    top: 0;
}

.csv-table tr:hover {
    background-color: #f5f5f5;
}

.line-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.line {
    margin-top: 25px;
    width: 95%;
    background-color: rgb(88, 88, 88);
    height: 1px;
    margin-bottom: 25px;
}

.code-col {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 45vh - 59px - 80px);
}

.code-editor {
    margin-left: 5%;
    width: 95%;
    height: auto;
    flex-grow: 1; 
    background-color: #1e1e1e;
    color: #788878;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 15px;
    border: 3px solid #444;
    border-radius: 4px;
    resize: none;
    outline: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.code-editor:focus {
    border-color: #4CAF50;
}

.question-label {
    margin-left: 0%;
}

#question-div {
    width: 92%;
    text-align: left;
    margin-left: 0%;
}

#instructions-div {
    margin-top: 10px;
    width: 92%;
    text-align: left;
    margin-left: 0%;
    /* height: 75px; */
    font-size: 13px;
}

.submit-button {
    margin-top: 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: 1px rgb(234, 234, 234) solid; /* Remove default border */
    padding: 12px 20px; /* Spacing */
    font-size: 16px; /* Font size */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    cursor: pointer; /* Pointer on hover */
    border-radius: 5px; /* Rounded corners */
    display: flex; /* Flexbox layout */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    transition: background-color 0.3s, transform 0.2s; /* Animation */
}

.submit-button i {
    margin-right: 8px; /* Space between icon and text */
}

.submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.submit-button:active {
    transform: translateY(2px); /* Slight movement on click */
    background-color: #3e8e41; /* Even darker green when pressed */
}

.modal-exec {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.modal-exec-content {
    text-align: center;
}

#closeModal {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeModal:hover {
    background-color: #45a049;
}

#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2000;
}

#closeFeedbackModal {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeFeedbackModal:hover {
    background-color: #45a049;
}

#seeIdealBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#seeIdealBtn:hover {
    background-color: #45a049;
}

#feedbackModal {
    position: absolute;
    display: none;
    z-index: 3000;
    left: 0%;
    top: 0%;
    /* width: 50vw;
    height: 50vh; */
    background-color: white;
    border: 2px solid #888;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
}

#modal-feedback-content {
    text-align: center;
    padding: 20px; 
}

#draggableBar {
    height: 20px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    cursor: move;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
