{% extends "layout.html" %}

{% block content %}

    <script src="/static/js/home.js" defer></script>

    <div class="row">
        <div class="problems-list">
            <button class="generate-button">
                GENERATE
                <i class="fas fa-sync-alt refresh-icon"></i>
            </button>
            <div class="modal fade" id="generateModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Generate a new problem with GPT-4o?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="dataField" placeholder="Keywords">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="submitButton">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="entries-container"></div>
        </div>
        <div class="workspace">
            <div class="row">
                <div class="col-12" id="csv-container">

                </div>
            </div>
            <div class="row">
                <div class="col-12 line-row">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row workspace-row">
                <div class="col-6 code-col">
                    <textarea class="code-editor" id="code-editor" placeholder="Code your Python solution here..." spellcheck="false"></textarea>
                </div>
                <div class="col-6">
                    <h5 class="question-label">Question:</h5>
                    <div id="question-div"></div>
                    <div id="instructions-div">
                        In your program, assume ./data.csv contains the data. You may import matplotlib, seaborn, and/or pandas. Hit 'CTRL + ENTER' while the editor is selected to try executing your code before submission.
                    </div>
                    <button class="submit-button"  id="submit-btn">
                        <i class="fas fa-paper-plane"></i> Submit
                    </button>
                    <div id="popupModal" class="modal-exec" style="display:none;">
                        <div class="modal-exec-content">
                            <p>CTRL + ENTER was pressed! This is your popup.</p>
                            <button id="closeModal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feedbackModal" style="display:none;">
                <div id="draggableBar"></div>
                <div class="modal-feedback-content">
                    <p id="feedback"></p>
                    <button id="closeFeedbackModal">Try Again!</button>
                    <button id="seeIdealBtn">See Ideal Viz</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

