{% extends "layout.html" %}

{% block content %}

    <script src="/static/js/home.js" defer></script>

    <div class="row">
        <div class="problems-list">
            <button class="generate-button">
                GENERATE
                <i class="fas fa-sync-alt refresh-icon"></i>
            </button>
            <div class="modal fade" id="generateModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Generate a new problem with GPT-4o?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="dataField" placeholder="Keywords">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="submitButton">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="entries-container"></div>
        </div>
        <div class="workspace">
            <div class="row">
                <div class="col-12" id="csv-container">

                </div>
            </div>
            <div class="row">
                <div class="col-12 line-row">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

